@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");

@font-face {
  font-family: "Carves";
  src: url("/fonts/Carves.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-carves: "Carves", sans-serif;
  --color-primary: #5b0a18;
  --color-background: #e9d2b5;
  --font-italianno: "Italianno", sans-serif;
}

body {
  font-family: var(--font-italianno);
  background-color: var(--color-background);
  overflow-x: hidden;
}
